div(id='SensorSensor',data-role='page', data-add-back-btn='true', data-back-btn-text='Voltar')
  div(data-role='header')
    h1=title
  div(data-role='content')
    div(data-role='fieldcontain')
      label(for='txtNome') Nome
      input(type='text', id='txtNome', value=item.Nome)
    div(data-role='fieldcontain')
      label(for='txtEndereco') Endereço
      input(type='text', id='txtEndereco', value=item.Endereco)
    div(data-role='fieldcontain')
      label(for='txtDescricao') Descrição
      textarea(type='text', id='txtDescricao')= item.Descricao
    input(type='button', id='btnDeletar', data-icon='del', value='Deletar')
    br
    ul(data-role='listview')
      li(data-role='list-divider') Dispositivos
      li
        a(href='/dispositivos/criar/' + item.Nome) Adicionar Novo
      each disp in item.Dispositivos
        li
          a(href='/dispositivos/editar/' + disp.Nome)= disp.Nome
